body{
    background-image: url(back.jpg);
}
#header{
    background-image: url(panorama.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 650px;
    height: 200px;
    max-width: 1000px;
}
#tartalom{
    width: 1000px;
    margin: 0 auto 0 auto;
}
img{
    width: 130px;
    float: right;
    margin-right: 50px;
    
}
#batsanyi{
    width: 450px;
    background-color: #5B9CEA;
    float: right;
    margin-left: 100px;
}
#belmatyas{
    width: 450px;
    background-color: #5B9CEA;
    float: right;
    
}
td{
    border: 1px solid black;
    padding: 5px;
}
th{
border: 1px solid black;
}
table{
    text-align: center;
    border-collapse: collapse;
    background-color: #B0D1F1;
}